.folder {
    margin-top: 6px;
    background-color: rgb(238, 235, 235);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    width: 300px;
    cursor: pointer;
  }

  .folder > span {
    margin: 0 5px 2px 5px;
  }

  .file {
    margin-top: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
  }